.story-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    border-radius: 0.5rem;
    color: #111111;
    border: yellow 1px solid;
}

.story-element {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.element-type-container {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

.element-type-option {
    background-color: transparent;
    border-bottom-style: outset;
    padding: 0.5rem;
    cursor: pointer;
    width: 7.25rem;
    height: 4.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.element-type-option:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


.element-type-option.selected {
    background-color: rgb(111, 102, 231);
    color: #fff;
}

.add-button-container, .finish-button-container {
    gap: 1rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: grid;
}

.add-button{
    font-size: 1.5rem;
    padding: 1rem;
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    background-color: transparent;
}

.finish-button{
    font-size: 1.5rem;
    padding: 1rem;
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    background-color: transparent;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
.add-button:hover , .finish-button:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.place-selector-container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.place-selector, .audio-selector {
    background-color: rgba(9, 5, 5, 0.54);
    color: #fff;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.place-selector:focus , .audio-selector:focus{
    outline: none;
}

.place-selector:hover, .audio-selector:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

