.story-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #111111;

}

.story-element {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #f7f7f7;
}

.side-button-container {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}