  /*|  px  | rem |*/
  /*+------+-----+*/
  /*|  320 |  20 |*/
  /*|  480 |  30 |*/
  /*|  768 |  48 |*/
  /*| 1024 |  64 |*/
  /*| 1200 |  75 |*/
  /*| 1600 | 100 |*/

  *{
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
    /*min-width: 0;*/
    /*min-height: 0;*/
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    vertical-align: baseline; /* Aligns the baseline of the element with the baseline of its parent */
    background: transparent; /* Ensures that the background of the element is transparent */
    -webkit-font-smoothing: antialiased; /* Makes font edges smoother and more readable */
    -moz-osx-font-smoothing: grayscale; /* Specifies a grayscale rendering mode for text in Firefox */
  }

:root {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  font-size: 1.6rem;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}