.drawing-page{
    z-index: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: transparent;

}

.canvas-container{
    flex: 1;
    display: flex;
    border: 0.1rem solid black;
/*    aspect ratio of 16:9   */
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
}

canvas{
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
    background: white;
    touch-action: none;
}

.color-button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    border: 0.1rem solid white;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 0.1rem #000, 0 0 0 0.1rem #fff;
}


.tools-container {
    z-index: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(79, 27, 27, 0.25);
    border-radius: 50%;
    height:6rem;
}

.colors-container {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
    grid-auto-flow: row;
    gap: 1rem;
    background-color: transparent;

}

.settings-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: transparent;
    justify-content: space-between;

}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: transparent;
}

.draw-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: transparent;
}

.element-buttons-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: transparent;
}

.selected-icon {
    color: #4881b0;
}

.icon {
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}



