.game-page {
    z-index: 1;
    display: flex;
    width: 100%;
    min-height: 100%;
    background-color: #DACDBA;
    background-image: url("../assets/backgrounds/GameView.png") ;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    overflow:auto;

}

.floating-elements, .users {
    font-size: max(0.9rem, 0.7vw);

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

/*.game-box {*/
/*    flex-grow: 0; !* .game-box will not grow when the window is enlarged *!*/
/*    flex-shrink: 1; !* .game-box will shrink when the window is reduced and the other elements can no longer shrink *!*/
/*    flex-basis: 75%; !* .game-box will take up 500px of the .game-page width *!*/
/*    min-width: 40rem;*/
/*}*/

.game-box {
    position: relative;
    z-index: 1;
    padding: 5rem;
    aspect-ratio: 5 / 4;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

/*we want the lobby-box to be sticked to the display in the background image*/
@media (max-aspect-ratio: 17/8) {
    .game-box {
        max-width: calc(100vh * 15 / 16);
        max-height: 100%;
    }
}

@media (min-aspect-ratio: 17/8) {
    .game-box {
        max-width: 43%;
        max-height: calc(43vw * 16 / 14);
    }
}

.game-page h2{
    font-size: 130%;
    color: #e19a9a;
    font-weight: bold;
}

.floating {
    position: sticky;
    top: 0;
}

.floating-elements {
    /*border: black 1px solid;*/
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start; /* Add this line */
}
.round{
    /*border: black 1px solid;*/
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background-color: transparent;
    align-items: center;

}

.round__text{
    width: 10rem;
    text-align: center;
    z-index: 1;
    background-color: white;
    padding: 1rem;
    font-weight: bold;
    border-radius: 0.8rem;
}

.timer{
    /*border: black 1px solid;*/
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background-color: transparent;
    align-items: center;
    color: #EDEDED;
    font-weight: bold;
}


.users {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.8rem;
    text-align: center;
    width: 100%;
    align-items: center;
}


.users__list{
    max-width: 25rem;
    width: 100%;
    z-index: 1;
    display: grid;
    gap: 1rem;
}

.user{
    z-index: 1;
    background-color: white;
    padding: 1rem;
    font-weight: bold;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

