.game-page {
    z-index: 1;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}
.game-box {
    position: relative;
    /*top: -2.5rem;*/
    z-index: 1;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgba(169, 110, 45, 0.4);
    width: auto;
    min-height: auto;
    border-radius: 0.8rem;
    overflow: auto;
}
.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}
.video-background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}
h2{
    color: #eac3c3;
}
.side-bar {
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background-color: transparent;
    width: max-content;
    /*box-shadow: #282c3455 0 0 1rem 0.1rem;*/
    position: absolute;
    top: 0;
    right: 0;
}
.user-box{
    z-index: 1;
    background-color: white;
    padding: 1rem;
    font-weight: bold;
    border-radius: 0.8rem;
    width: 10rem;
}
.current-user-bar{
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background-color: transparent;
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
}
.current-user{
    z-index: 1;
    background-color: #fdfdfd;
    padding: 1rem;
    font-weight: bold;
    border-radius: 0.8rem;
    width: 10rem;
}
.crown-icon-small {
    display: inline-block;
    width: 2vw;
    height: auto;
    vertical-align: middle;
    margin-right: 0.5vw;
}