.how-to-play-page {
    width: 100%;
    height: 100%;
    background-image: url("../assets/backgrounds/HowToPlayView.png");
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.rules-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #090505;
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
    background-color: transparent;
    gap: 1rem;
    flex: 1;
}

@media (max-width: 800px) {
    body .how-to-play-page {
        flex-direction: column;
    }

    body .arrows{
        /*rotate the arrows*/
        transform: rotate(90deg);
    }

    body .how-to-play-page .arrows:hover {
        transform: scale(1.1) rotate(90deg);
    }
}


/*we want the lobby-box to be sticked to the display in the background image*/
@media (max-aspect-ratio: 5/3) {
    .rules-text {
        max-width: calc(43vh * 4 / 3);
        max-height: 43%;
    }
}

@media (min-aspect-ratio: 5/3) {
    .rules-text {
        max-width: 34%;
        max-height: calc(34vw * 3 / 4);
    }
}



.rules-text h1 {
    font-size: 200%;
    font-weight: bold;
    color: #753833;
    padding: 1rem;
    margin: 2rem;
    border-radius: 1rem;
}
.rules-text h2 {
    width: 100%;
    color: #753833;
    font-size: 150%;
    font-weight: bold;
    margin: 1rem;
}


.rules-text p {
    display: flex;
    flex-direction: column;
    color : black;
    height: 100%;
    width: 80%;
    padding: 1rem;

}
.rules-text p strong{
    padding: 1rem;
    border-radius: 0.8rem;
    font-weight: bold;
}


.back-button {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 5%;
    height: 5%;
    max-width: 10rem;
    min-width: 7rem;
    aspect-ratio: 1/1;
    flex-basis: 0;
}

.back-button img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}


.back-button img:hover {
    transform: scale(1.1);
}

.how-to-play-page .arrows {
    max-width: 20%;
    max-height: 10%;
        object-fit: contain;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease-in-out;
}

.how-to-play-page .arrows:hover {
    transform: scale(1.1);
}