.main-page-lobby {
    z-index: 1;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.main-box-lobby {
    position: relative;
    top: -40px;
    z-index: 1;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 60rem;
    border-radius: 0.8rem;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}
.video-background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8%;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    flex-direction: row;
    margin: 0 auto;
}

.lobby-code-container {
    max-width: 100%;
    flex: 1;
    margin-right: 0.5rem;
}
.player-list-container {
    max-width: 100%;
    flex: 1;
    margin-left: 0.5rem;
}

.lobby-code-title, .players-title {
    color: #104480;
    font-size: 1.5vw;
    margin-bottom: 1rem;
}

.lobby-code-text{
    font-size: 1vw;
    color: #000000;
    padding: 1vw;
    margin: 5px auto;
    border-radius: 20px;
    width: 40%;
    height:1vh;
}

.players-text{
    font-size: 1vw;
    color: #000000;
    background-color: inherit;
    height: 40px;
    line-height: 40px;
    width: 50%;
    height: 3.5vh;
    line-height: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    border-radius: 20px;
    padding: 0;

}
.player-list {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.5vw;
}


.back-button-box {
    z-index: 1;
}
.play-button-box {
    z-index: 1;
}

.button-play {
    background-color: #1c6458;
    color: white;
    padding: 1vw 2vw;
    border: none;
    border-radius: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    box-shadow: 0 0.6vw 1vw rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.button-play:hover {
    background-color: #1c6458;
    transform: translateY(-0.3vw);
}

.button-back{
background-color: #1c6458;
color: white;
padding: 1vw 2vw;
border: none;
border-radius: 1vw;
font-size: 1.5vw;
cursor: pointer;
box-shadow: 0 0.6vw 1vw rgba(0, 0, 0, 0.15);
transition: transform 0.3s ease, background-color 0.3s ease;
position: relative;
}
.button-back:hover {
    background-color: #1c6458;
    transform: translateY(-0.3vw);
}

.crown-icon-small {
    width: 2vw;
    height: auto;
    vertical-align: middle;
    margin-right: 2vw;
}


/*.button-3d-icon-back {*/
/*    z-index: 2;*/
/*    width: 5vw;*/
/*    height: 5vw;*/
/*    border-radius: 50%;*/
/*    padding: 0;*/
/*    border: none;*/
/*    background-image: url('assets/backButton.png');*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-color: transparent;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    cursor: pointer;*/
/*    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.2);*/
/*    position: relative;*/
/*    margin-top: -2vw;*/
/*}*/

/*.button-3d-icon-back:hover {*/
/*    transform: scale(1.1);*/
/*    transition: transform 0.2s ease-in-out;*/
/*}*/

/*.button-3d-icon-back:focus {*/
/*    transform: scale(0.8);*/
/*    transition: transform 0.2s ease;*/
/*}*/

