.results-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-attachment: scroll;
}
.background--results{
    background-image: url('../assets/backgrounds/ResultsView.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.game-box-results {
    width: 80%;
    height: 90%;
    max-width: 80vw;
    max-height: 100vh;
    background-color: transparent;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media screen and (max-width: 600px) {
    .game-box {
        width: 90%;
        padding: 1px;
    }
}

.game-box-results h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.25rem;
}

.story-box-results {
    border-top: 1px solid #eee;
    padding-top: 1.25rem;
}

.story-box-results h3 {
    text-align: center;
    color: #666;
    margin-bottom: 1.25rem;
}

.button {
    display: block;
    width: 100%;
    padding: 0.625rem;
    border: none;
    border-radius: 5px;
    background-color: #090505;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button:hover:not(:disabled) {
    background-color: rgb(111, 102, 231);
}

/*.story-element textarea {*/
/*    height: 10vh;*/
/*    width: 20vw;*/
/*    overflow:auto;*/
/*    scrollbar-width: none;*/
/*    -ms-overflow-style: none;*/
/*    padding: 10px;*/
/*    font-size: 16px;*/
/*}*/


