.story-user-elements{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.8rem;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.story-user-elements h3{
    color: rgb(162, 33, 33);
    background-color: rgba(46, 46, 54, 0.31);
    font-weight: bold;
}